@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* CSS DA PÁGINA DE CONTATO */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* CABEÇALHO/MENU */
header{
    background-color: #fff;
    border-bottom-style: solid;
    border-color: #999999;
    border-width: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: left;
}

.nav-item{
    margin: 0 15px;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #292E49;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
}

.nav-list .nav-link:hover{
    padding: 3px 5px 3px 5px;
    background-color: #C78902;
    color: #fff;
}

/* COFIGURAÇÕES DO MEMNU PARA MOBILE */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* CORPO DA PÁGINA */
main{
    background-color: #fff;
}

article{
    margin: 0% 5% 5%;
}

#textUp{
    display: flex;
    justify-content: center;
    padding: 4% 0% 3% 0%;
    margin: 0% 0% 1%;
    font-size: 40px;
    font-weight: bold;
    border-top-style: none;
    background-color: #292E49;
    color: #fff;
}

section{
    padding: 2% 2% 2% 2%;
}

section h2{
    font-size: 33px;
    color: #C78902;
}

section ul{
    margin-top: 15px;
}

section li{
    list-style: none;
    padding: 5px 5px 5px 5px;
}

#information_contact{
    display: flex;
}

#numbers_section{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#numbers_section ul{
    display: flex;
    align-items: center;
}

#social_media_section{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#social_media_section ul{
    display: flex;
    align-items: center;
}

#localizacao ul{
    display: flex;
    flex-direction: row;
}

#telefone{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
}

#whatsapp_geral_section{
    background-color: #25d366;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
}

#whatsapp_psiquiatria_section{
    background-color: #D4CF25;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
}

#whatsapp_ginecologia_section{
    background-color: #ff2992;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
}

#instagram_section{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
}

#facebook_section{
    background-color: #4267b3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
}

#localizacao h2{
    color: #292E49;
    border-top: solid;
    border-color: #C78902;
    border-width: 1px;
    padding-top: 15px;
}

#localizacao #localizacao_p{
    color: #292E49;
    font-size: 18px;
    border-style: solid;
    border-color: #C78902;
    border-width: 1px;
    padding: 15px 15px 15px 15px;
    width: 200px;
}

#localizacao #imagem{
    width: 50%;
}

#localizacao img{
    width: 100%;
}

#social_media_section li a{
    text-decoration: none;
    color: #292E49;
    font-size: 18px; 
}

#maps_laptop{
    display: none;
}

#maps_tablet{
    display: none;
}

#maps_mobile{
    display: none;
}

#numbers_section ul li p{
    color: #292E49;
    font-size: 18px; 
}


@media screen and (max-width: 1440px) {

    #maps_fullscreen{
        display: none;
    }

    #maps_laptop{
        display: block;
    }
}

@media screen and (max-width: 1024px) {

    #maps_laptop{
        display: none;
    }

    #maps_fullscreen{
        display: block;
    }

    #localizacao #localizacao_p{
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {

    #localizacao ul{
        flex-direction: column;
        align-items: center;
    }

    #localizacao #imagem{
        width: 100%;
    }

    #maps_fullscreen{
        display: none;
    }

    #maps_tablet{
        display: block;
    }

}

@media screen and (max-width: 425px) {
    
    #maps_tablet{
        display: none;
    }

    #maps_mobile{
        display: block;
    }

    #information_contact{
        flex-direction: column;
    }

    #numbers_section{
        width: 100%;
    }

    #social_media_section{
        width: 100%;
    }

}


@media screen and (max-width: 320px) {

    header nav{
        padding: 1.5rem 2rem;
    }

    header #logo{
        width: 150px;
        height: 50px;
    }

    #servicos ul{
        flex-direction: column;
    }

    #social_media_footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #footer_subscribe p{
        width: 250px;
    }

    section h2{
        font-size: 25px;
    }
}


/* COFIGURAÇÕES DO MENU PARA MOBILE */
@media screen and (max-width: 730px) {
    
    nav{
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: block;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .open{
        display: block;
    }
}


/* COFIGURAÇÕES DO FOOTER */
/* VARIAVEIS DE CORES */
:root {
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer{
    width: 100%;
    color: var(--color-neutral-40);
    box-sizing: border-box;
    letter-spacing: 1px;
}

#footer_content{
    background-color: #292E49;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts{
    list-style: none;
}

#diretor{
    list-style: none;
}

#diretor h2{
    color: #C78902;
}

#diretor p{
    color: var(--color-neutral-40);
}

.footer_link{
    text-decoration: none;
}

#social_media_footer{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    list-style: none;
}

#social_media_footer .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#social_media_footer .footer_link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp_geral{
    background-color: #25d366;
}

#whatsapp_psiquiatria{
    background-color: #D4CF25;
}

#whatsapp_ginecologia{
    background-color: #ff2992;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

#footer_subscribe p{
    color: var(--color-neutral-30);
}

#email{
    display: flex;
    align-items: center;
    background-color: #242738;
    border-radius: 4px;
    padding: 0.75rem;
    width: 95%; 
    margin: 0px 0px 10px 0px;
}

#message{
    display: flex;
    align-items: center;
    background-color: #242738;
    border-radius: 4px;
    padding: 0.75rem;
    width: 95%;
    margin: 0px 0px 10px 0px;
}

form button{
    background-color: #191970;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    width: 99%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#footer_input button:hover{
    opacity: 0.8;
}

.rights {
    display: flex;
    justify-content: center;
    background-color: #242738;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* COFIGURAÇÕES DO FOOTER PARA MOBILE */
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 375px){

    #logo{
        width: 150px;
    }

    #social_media_footer{
        gap: 1.5rem;
    }
}